# Java compiler output
*.class

*.xlsx

*.html
!docs/expanding-wild-config-tables.html
!docs/expanding-wild-game-info.html



# Common build output directories
/build/
/out/
/target/
/reports/

# macOS
.DS_Store
